@import url('https://db.onlinewebfonts.com/c/06d1b1518a180e5a9cca2c23401ec40a?family=Circular+Std+Bold');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');


body {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}